body{
	width:100%;
	height:100%;
}

h1,h2,h3 {
    margin:0 0 0.6em 0;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	line-height:1.6em;
}

#name:focus, #email:focus, #subject:focus, #message:focus {
    outline: none !important;
    border:1px solid yellow;
    box-shadow: 0 0 10px yellow;
}

a:hover,a:focus{
	text-decoration:none;
	color:white;
}

#contact{	
	color:#f4f4f4;
	padding-bottom:3em;
}

textarea.form-control{
    height:7em;
}